@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Inter:wght@700&family=Roboto&display=swap");

body {
  background-color: #f8fcff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: baseline;
  margin: 30px 0;
  padding: 20px 50px;
  background: #f8fcff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

nav .links {
  display: flex;
  gap: 15px;
}

nav .links a {
  color: #404041;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

nav .search {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  position: relative;
}

nav .search .border {
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: border 0.1s;
}

nav .search input:focus + .border {
  border-bottom: 2px solid #404041;
}

nav .search svg {
  width: 15px;
  height: 15px;
  fill: #2b2b39;
}

nav .search input {
  outline: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #404041;
}

#about {
  margin: 50px auto;
  padding: 0 15px;
  max-width: 1200px;
  margin-bottom: 500px;
}

#about .first-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#about .first-row > img {
  width: 70%;
  max-width: 720px;
}

#about h1 {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -0.01em;
  color: #222223;
  margin-bottom: 48px;
  max-width: 500px;
}

#about h1 .circle {
  display: inline-block;
  position: relative;
}

#about h1 .circle svg {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: -1;
  translate: -50% -50%;
}

#about .text p {
  color: #535354;
  font-size: 18px;
  max-width: 280px;
  margin-bottom: 40px;
}

#about .get-card .button {
  background-color: #222223;
  box-shadow: 0px 10px 30px rgba(206, 206, 206, 0.6);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .get-card {
  text-decoration: none;
  color: #222223;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
}

#about .second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 100px;
}

.hot-deals {
  max-width: 230px;
}

.hot-deals h3 {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #222223;
  margin-bottom: 18px;
}

.hot-deals h3 svg {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0px 0px 25px rgba(237, 94, 22, 0.35));
}

.hot-deals p {
  font-size: 16px;
  color: #5f5f64;
}

.benefits {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.benefits > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 200px;
}

.benefits > div > img {
  width: 32px;
}

.benefits > div > h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #17181a;
}

.benefits > div > p {
  font-size: 16px;
  color: #5f5f64;
}
